<div class="row">
    <div class="col-4">
        <img src="{{skiResort.picture}}" alt="slika" width="100%" style="margin: 20px">
    </div>
    <div class="col-8">
        <h2>{{skiResort.name}}, <small>{{skiResort.country}}</small></h2>
        <p>{{skiResort.description}}</p>
        <small>
            Elevation: {{skiResort.base_elevation_m}}, Highest Point: {{skiResort.highest_point}}, Top Elevation: {{skiResort.top_elevation_m}}
        </small>
    </div>
    
</div>

<div class="row">
    <div class="col">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="margin: 20px;">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Tracks</a>
          <ng-template ngbNavContent>
           <app-tracks [tracks]="tracks" (sortChange)="onSortChange($event)"></app-tracks>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Weather</a>
          <ng-template ngbNavContent>
            <app-weather [weathers]="weathers"></app-weather>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Ski pass</a>
          <ng-template ngbNavContent>
            <app-ski-pass [skipases]="skiPasses" (reserve)="sendReservation($event)"></app-ski-pass>
          </ng-template>
        </li>
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      
      
    </div>
</div>