<div class="row">
    <div class="col-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Length(km)</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let track of tracks">
                <td [style]="{'color': track.color}">{{track.name}}</td>
                <td [style]="{'color': track.color}">{{track.length_km}}</td>
                <td [style]="{'color': track.color}">{{track.rating}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="sort">Sort by</label>
            <select name="sort" id="sort" class="form-control" [(ngModel)]="sort" (change)="onChange()">
                <option value="rating">Rating</option>
                <option value="length_km">Length(km)</option>
            </select>
        </div>
    </div>
</div>
